:root {
    --third-font: "Oleo Script";
    --secondary-font: "Raleway";
    --main-font: "Roboto";

    /* кольори тексту */
    --black-txt-cl: #000000;
    --accent-txt-cl: #2196F3;
    --dark-txt-cl: #212121;
    --light-txt-cl: #FFFFFF;
    --gray-txt-cl: #757575;

    /* кольори фону */
    --gray-bgr-cl: #F5F4FA;
    --dark-bgr-cl: #2F303A;
    --light-bgr-cl: #ffffff;
    --blue-but-cl: #188CE8;
    --primary-light-bg: #E5E5E5;

    /* іконоки команди в стані спокою*/
    --crew-icon-primary: #AFB1B8;

    /* змінні в сітці в портфоліо */
    --csrd-set-gap: 30px;
    --csrd-set-marg: 15px;
    /* іконоки команди в стані спокою*/
        --crew-icon-primary: #AFB1B8;
    
}
/* загальні властивості  */
body {
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--dark-txt-cl);
    background-color: var(--light-bgr-cl);
    font-family: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

/* reeset */
h1,
h2,
h3,
h4,
p
{
margin-top: 0;
}

/* загальні властивоті зображень */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
*,
*::before,
*::after {
    box-sizing: inherit
}

address {
    font-style: normal;
}
/* падінги секцій */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* бокси для центруваня контенту */
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* часткове скиданя властивостей списків */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
/* часткове скиданя властивостей списків */
.link {
    text-decoration: none;

}
.main-nav {
    display: flex;
}

/* підсвітка кнопки активної сторінки */
.header-list .link.current {
    color: var(--accent-txt-cl);
}
/* хедер початок */
/* логотип в хедері */
.header-logo {
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--black-txt-cl);
    font-size: 26px;
    line-height: 31px;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    color: var(--accent-txt-cl);
}
/* блок нав в шапці  */
.header-list-item:not(:last-child){
    padding-right: 50px;} 

.header-list{
    display: flex;
    margin-left: 93px;

}

.header-nav{
    display: flex;
    align-items: center

}
.header-cont{
display: flex;
align-items: center;
}
.header-cont-svg{
margin-right: 10px;
fill: var(--crew-icon-primary)

}

.header-cont-svg:hover,
.header-cont-svg:focus {
    background-color: var(--accent-txt-cl) ;
    fill: var(--accent-txt-cl)
}
    
/* (а) посилання в блоці нав */
.header-link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--dark-txt-cl)
}


.header-link:hover,
.header-link:focus {
    color: var(--accent-txt-cl)
}

/* блок контакти в шапці */
.header-list-cont {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
}

.header-cont {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--gray-txt-cl)
}


.header-cont:hover,
.header-cont:focus {
    color: var(--accent-txt-cl)
}

/* сеrція герой */
.hero {
    background-color: var(--dark-bgr-cl);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/img-bg/Img-fon-hero.webp);
    max-width: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    
}

/* заголовок в герой */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-txt-cl);

    width: 696px;
    margin: 0 auto;
    padding-bottom: 30px;
}


/* кнопка в секції герой */
.hero-button {
    font-family: inherit;
    color: var(--light-txt-cl);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    letter-spacing: 0.06em;
    background-color: var(--accent-txt-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    padding: 10px 30px;
    cursor: pointer;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--blue-but-cl);
}

/* features  */

/* прихований заголовок */
.visualli-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ul в боксі особливості */
.main-list{
    display: flex;

}

.features-svg{
        padding: 25px 100px;
        background-color: var(--gray-bgr-cl);
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
}

/* заголовоки в особливості */
    .action-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-txt-cl);

    padding-bottom: 50px;
}

/*h3 увага до деталей */
.main-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.upertitle {
    font-size: 14px;
    line-height: 1.71;
    color: var(--gray-txt-cl);
}


/* розділ що ми робимо */

.services{
margin-top: 0;
}
.services-item:not(:last-child) {
    margin-right: 30px;
}


/* секція наша команда  */
.group {
    background-color: var(--gray-bgr-cl)

}

.flex-group {
display: flex;
}


.group-title {
    font-size: 36px;
    line-height: 1.16;
     text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-txt-cl);
    
    padding-bottom: 50px;
}
    
.title-name {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--dark-txt-cl)
}

.prof {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--gray-txt-cl);
}
.photo-list:not(:first-child) {
    margin-left: 30px;}

.pers-card{
    padding-top: 30px;
    padding-bottom: 30px
}

.photo-list {
    background-color: var(--light-txt-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
/* дів іконконок в наша команда */







/* портфоліо початок */
.portfolio-header{
    border: 1px solid #ECECEC;
    /* border-bottom: 1px ; */
}

/* кнопки в портфоліо */
.filter-list{
    display: flex;
    justify-content: center;
     margin-bottom: 50px;
}

.btn-filter {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;
    color: #212121;
    cursor: pointer;
    border-color: var(--gray-bgr-cl);
    background-color: var(--gray-bgr-cl);
    border-radius: 4px;
    margin-left: 8px;


}

.btn-filter:hover,
.btn-filter:focus {
    background-color: var(--accent-txt-cl);
    color: var(--light-txt-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--csrd-set-marg));
}
.project-list {
    flex-basis: calc((100% - var(--csrd-set-gap) * 3) / 3);
    margin: var(--csrd-set-marg);

    background-color: var(--light-bgr-cl);
    border: 1px solid #EEEEEE;
}

.cards-title{
text-align:left;
padding: 20px 24px;
}

/* список проектів в портфоліо */
.portfolio-projects {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--dark-txt-cl);
}

.projects-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--gray-txt-cl)
}
/* портфоліо кінець */

/* постійні клієнти */
.clients {
    background-color: var(--primary-light-bg);
    margin-bottom: 94px;
}

.clients-caption {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-txt-cl);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    /* gap: 30px; */


}

.clients-item {
    flex-basis: calc(100% / 6);
    border: 1px solid var(--crew-icon-primary);
}

.clients-icon {
    margin: 16px 32px;
    fill: var(--crew-icon-primary);
}

.clients-icon:hover {
    fill: var(--accent-txt-cl);
}
/* постійні клієнти  кінець*/

/* footer початок */
.footer {
    background-color: var(--dark-bgr-cl);
        padding-top: 60px;
        padding-bottom: 60px;
}

/* логотип у футері */
.lower-logo {
    font-family: var(--secondary-font);
    color: #2196F3;
}

.footer-logo {
    font-size: 26px;
    line-height: 1.19px;
    font-family: var(--secondary-font);
    color: #FFFFFF;

}
/* дів для адрес */
/* .footer-box{
} */

/* блок контактів у футері */
.section-add {
    font-style: normal;
    margin-top: 20px;
}

.footer-addr {
    line-height: 1.71;
    color: var(--light-txt-cl);
    letter-spacing: normal;
}

.addr {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.addr:hover,
.addr:focus,
.footer-addr:hover,
.footer-addr:focus {
    color: var(--accent-txt-cl)
}
/* footer end */






